<form asp-action="Index">
    <label>Nhap UserName:</label>
    <input type="text"name="UserName" />
    <label>Nhap Password:</label>
    <input type="text"name="Password" />
    <input type="submit"value="Submit" />
</form>
<h1>@ViewBag.Massage</h1>